::ng-deep .login-screen-cls {
  .row {
    padding-bottom: 0rem !important;
  }
}
::ng-deep .img-fluid{
    max-width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 7px
}
::ng-deep .password{
  border: none !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  .p-password{
    width: 100% !important;
  }
  .p-inputtext{
    width: 100% !important;
    height: 41px;
  }
}